<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/medicine">Medicine</a>
        </li>
        <li routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/medicine/new">Add Medicine</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>